fastapi>=0.115.0
uvicorn[standard]>=0.30.0
python-multipart>=0.0.9

pydantic>=2.6.0
pydantic-settings>=2.2.0

SQLAlchemy>=2.0.0
pybigquery

google-cloud-aiplatform>=1.67.0
google-cloud-firestore>=2.16.0

twilio>=9.0.0

